.available__services__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  /* flex-direction: column; */
  /* background-color: whitesmoke; */
  border: 2px solid rgb(35, 33, 33);
  border-top: none;
  background-color: rgb(246, 241, 241);
  border-radius: 5px;
  width: 80%;
  min-height: 800px;
  height: auto;
}

.available__service__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  height: 200px;
  background-color: whitesmoke;
  color: rgb(35, 33, 33);
  /* border: 1px solid #a45ee5; */
  border-radius: 5px;
  font-weight: 800;
}

.available__service__add__container {
  display: flex;
}

.available__service__info__container {
  margin-left: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.available__service__title {
  margin: 0 35px 20px 35px;
  display: flex;
  align-self: flex-start;
  color: #a45ee5;
  font-weight: 800;
}
.available__service__add__container {
  margin: 0 35px 0 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.available__service__add {
  margin-top: 15px;
  height: auto;
  width: auto;
  min-width: 100px;
  min-height: 30px;
  border: none;
  border-radius: 5px;
  background-color: rgb(35, 33, 33);
  color: #a45ee5;
  font-size: 12px;
  cursor: pointer;
}
.available__services__un__auth {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 15px;
  width: 150px;
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: rgb(35, 33, 33);
  color: #a45ee5;
  font-size: 12px;
  cursor: pointer;
}
