.employee__home__bio__card__container {
  margin-top: 75px;
  display: flex;
  align-items: center;
  width: 75%;
  height: 300px;
}

.employee__bio__profile__picture {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  border-radius: 50%;
  padding: 100px;
  margin-left: 10px;
}

.employee__bio__contents {
  margin-left: 25px;
}
