.employee__portal__container {
  display: flex;
  /* align-items: flex-start; */
  /* justify-content: flex-start; */
  margin: 15px 25px 0 25px;
  height: 85vh;
  border: 1px #a45ee5 solid;
  background-color: grey;
  display: flex;
  border-radius: 5px;

  justify-content: center;
}

.employee__portal__left {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: flex-end; */
}

.employee__portal__left {
  margin: 10px 10px 0 15px;
}

.employee__portal__right {
  display: flex;
  flex-direction: column;
}
