* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background-color: whitesmoke;
  /* background-color: rgb(95, 91, 91); */
}
.App {
  width: 100%;
  height: 100vh;
  background-color: grey;
}
