.nav__bar__container {
  display: flex;
  justify-content: space-between;
  padding: 0 7% 0 7%;
  background-color: rgb(35, 33, 33);
  border-radius: 0 0 5px 0;
  /* border: 1px solid #a45ee5; */
}
.home__logo {
  width: 75px;
  height: 75px;
  background: url("./home__heart.svg");
  cursor: pointer;
}

.home__page__categories__container > div {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-right: 25px;
  border-bottom: 1px solid #a45ee5;
  border-radius: 2px;
  color: #a45ee5;
  width: 150px;
  height: 34px;
  cursor: pointer;
}
.home__page__categories__container {
  display: flex;
  align-items: center;
}

.nav__bar__dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  height: 175px;
  border-radius: 10px;
  border: 1px solid #a45ee5;
  right: 6px;
  position: absolute;
  color: white;
  background-color: rgb(35, 33, 33);
}

.hamburger__menu__option {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  /* background-color: #a45ee5; */
}
.hamburger__menu__option:hover {
  background-color: #a45ee5;
}
.hamburger__container {
  display: flex;
  align-self: center;
}
.hamburger__menu__logout {
  background-color: #a45ee5;
  border: none;
  outline: 0;
  border-radius: 10px;
  margin: 7px 0 7px 0;
  cursor: pointer;
}
.hamburger__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #a45ee5;
  width: 40px;
  height: 40px;
  /* background: url("./dislike-svgrepo-com.svg") no-repeat center; */
  /* background-color: #a45ee5; */
  border-radius: 10px;
}
.hamburger__button > div {
  background-color: #a45ee5;
  border-radius: 10px;
  margin-bottom: 5px;
  height: 5px;
  width: 30px;
}
.nav__login__signup__container {
  display: flex;
}
.nav__bar__login {
  width: 90px;
  height: 35px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  color: #a45ee5;
  cursor: pointer;
}
.nav__bar__signup {
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  margin-left: 5px;
  width: 90px;
  height: 35px;
  background-color: #a45ee5;
  border: 1px solid #a45ee5;
  border-radius: 5px;
  cursor: pointer;
}
/* .hamburger__menu__container {
  display: flex;
  align-self: center;
} */
